@media only screen and (max-width: 600px) {
  /* For phones: */
  .body_style {
    margin: 0 auto;
    background-color: white;
    max-width: 100%;
    overflow-x: hidden;
  }

  .h1_style {
    font-size: 1em;
    font-weight: normal;
    font-family: "Courier New";
    color: whitesmoke;
  }

  .h2_style {
    margin-left: 0;
    font-family: "Courier New";
    font-size: 1.5em;
  }

  .p_style {
    margin-left: 43px;
    max-width: 600em;
    font-size: 1em;
    font-family: Consolas, monaco, monospace ;
  }

  .hr_style {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 0.5px;
    color: whitesmoke;
  }

  .header_box{
    padding: 80px;
    background: lightslategrey;
    background-clip: border-box;
  }

  .footer{
    color: whitesmoke;
    text-align: center;
    width: 100%;
    padding: 3px;
    position: absolute;
    bottom: 3px;
    background-color: lightslategrey;
    font-family: "Courier New";
    font-size: .9em;
  }
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .body_style {
    margin: 0 auto;
    background-color: white;
    max-width: 100%;
    overflow-x: hidden;
  }

  .h1_style {
    font-size: 3em;
    font-weight: normal;
    font-family: "Courier New";
    color: whitesmoke;
  }

  .h2_style {
    margin-left: 0;
    font-family: "Courier New";
    font-size: 1.5em;
  }

  .p_style {
    margin-left: 43px;
    max-width: 600em;
    font-size: 1em;
    font-family: Consolas, monaco, monospace ;
  }

  .hr_style {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 0.5px;
    color: whitesmoke;
  }

  .header_box{
    padding: 80px;
    background: lightslategrey;
    background-clip: border-box;
  }

  .footer{
    color: whitesmoke;
    text-align: center;
    width: 100%;
    padding: 3px;
    position: absolute;
    bottom: 3px;
    background-color: lightslategrey;
    font-family: "Courier New";
    font-size: .9em;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .body_style {
    margin: 0 auto;
    background-color: white;
    max-width: 100%;
    overflow-x: hidden;
  }

  .h1_style {
    font-size: 3em;
    font-weight: normal;
    font-family: "Courier New";
    color: whitesmoke;
  }

  .h2_style {
    margin-left: 0;
    font-family: "Courier New";
    font-size: 1.5em;
  }

  .p_style {
    margin-left: 43px;
    max-width: 600em;
    font-size: 1em;
    font-family: Consolas, monaco, monospace ;
  }

  .hr_style {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 0.5px;
    color: whitesmoke;
  }

  .header_box{
    padding: 80px;
    background: lightslategrey;
    background-clip: border-box;
  }

  .footer{
    color: whitesmoke;
    text-align: center;
    width: 100%;
    padding: 3px;
    position: absolute;
    bottom: 3px;
    background-color: lightslategrey;
    font-family: "Courier New";
    font-size: .9em;
  }
}




/*iphone x*/
@media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) {
    .body_style {
      margin: 0 auto;
      background-color: white;
      max-width: 100%;
      overflow-x: hidden;
    }

    .h1_style {
      font-size: 10em;
      font-weight: normal;
      font-family: "Courier New";
      color: whitesmoke;
    }

    .h2_style {
      margin-left: 0;
      font-family: "Courier New";
      font-size: 1.5em;
    }

    .p_style {
      margin-left: 43px;
      max-width: 600em;
      font-size: 1em;
      font-family: Consolas, monaco, monospace ;
    }

    .hr_style {
      display: block;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      margin-left: auto;
      margin-right: auto;
      border-style: solid;
      border-width: 0.5px;
      color: whitesmoke;
    }

    .header_box{
      padding: 80px;
      background: lightslategrey;
      background-clip: border-box;
    }

    .footer{
      color: whitesmoke;
      text-align: center;
      width: 100%;
      padding: 3px;
      position: absolute;
      bottom: 3px;
      background-color: lightslategrey;
      font-family: "Courier New";
      font-size: .9em;
    }
  }
