/* For desktop: */
/************************/
/* link formating */

body {
  padding: 0px;
  margin: 0px;
  background-color: white;
}

a:link {
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none;
  color: black;
}
a:active {
  text-decoration: underline;
}

.LI-badge-container-horizontal-dark {
  width: 100% !important;
}
.LI-profile-badge {
  margin: auto;
  display: flex;
  justify-content: center;
  filter: grayscale(100%);
}
.LI-more-info {
  width: 200px;
}


/* header */
.pre-band {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 55%;
  min-width: 750px;
  margin:auto;
  margin-top: 20px;
}
.name-header {
  font-family: "Courier New", Courier, monospace;
  font-size: 17px;
  font-weight: 600;
}
.nav-links {
  width: 260px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 23px;
}

.external-icons {
  margin: auto;
  margin-top: 45px;
  max-width: 25%;
  min-width: 370px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -10px;
}
.external-icon {
  font-size: 35px;
}

.page-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog-post-medium-icon {
  padding-top: 20px;
  list-style-type: none;
  margin-left: 30px;
  opacity: .9;
}

h1 {
  font-size: 30px;
  font-weight: 100;
  color: black;
  font-family: monospace;
}

h2 {
  z-index: 100;
  font-weight: 100;
  font-size: 3.5em;
  color: black;
  line-height: 95%;
  margin-right: 95px;
  margin-left: 95px;
  float: left;
  clear: both;
}
h3 {
  margin: auto;
  margin-top: 30px;
  max-width: 50%;
  min-width: 740px;
  font-size: 20px;
  color: black;
  line-height: 120%;
  font-family: "Courier New", Courier, monospace;
  clear: both;
}
h4 {
  z-index: 100;
  font-size: 1.7em;
  color: black;
  line-height: 95%;
  margin-right: 11%;
  margin-left: 11%;
  clear: both
}
p {
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
  line-height: 250%;
  color: black;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 15px;
  max-width: 50%;
  min-width: 740px;
}
ul {
  margin: auto;
  width: 40%;
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
  line-height: 150%;
}

.footer-band {
  height: 140px;
  margin-top: 100px;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.footer-external-icons {
  width: 250px;
  display: flex;
  justify-content: space-around;
}
.footer-external-icon {
  font-size: 20px;
  color: whitesmoke;
}
.tm {
  text-align: center;
  font-size: 12px;
  font-family: monospace;
  color: whitesmoke;
  margin-bottom: 3px;
  margin-top: 20px; clear: both;
}


/* tablet */
@media only screen and (min-width: 421px) and (max-width : 768px) {

}

/* phone */
@media only screen and (max-width : 420px) {
  .pre-band {
    height: 60px;
    flex-direction: column;
    max-width: 90%;
    min-width: 90%;
  }
  .name-header {
    font-size: 16px;
  }
  .external-icons {
    margin: auto;
    margin-top: 50px;
    max-width: 72.5%;
    min-width: 72.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
  }
  .external-icon {
    font-size: 27.5px;
  }
  h1 {
    font-size: 25px;
  }
  p {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 200%;
    max-width: 87%;
    min-width: 87%;
  }
}
