/* For desktop: */
/****************/

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

/* background */
.header_band {
  z-index: -1;
  position:absolute;
  top:78px;
  height: 320px;
  background: grey;
  background-clip: border-box;
  width: 100%;
  box-shadow: 1px 1px 1px white;
}

.footer_band {
  z-index: -1;
  width: 100%;
  height: 400px;
  background-clip: border-box;
  box-shadow: 1px 1px 1px white;
  background: black;
  margin-top: 200px;
  clear: both;

}

/* generic styling */
body {
  z-index: 1;
  background-color: white;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}

h2 {
  z-index: 1;
  font-family: "Courier New";
  font-size: 4em;
  padding-bottom: 0px;
  color: black;
  line-height: 95%;
  margin-right: 11%;
  margin-left: 11%;
  clear: both;
}

p {
  z-index: 1;
  font-size: .84em;
  font-family: Consolas, monaco, monospace;
  line-height: 300%;
  color: black;
  margin-right: 12%;
  margin-left: 12%;
  clear: both;
  /* padding-bottom: 10; */
}

/* specific styling */

.name_header {
  color: black;
  margin-left:7%;
  top: 20px;
  font-family: "Courier New";
  font-size: 2em;
  left: 0;
  position:absolute;
  font-weight: bold;

}

.title_style {
  font-size: 10em;
  font-weight: normal;
  font-family: "Courier New";
  color: whitesmoke;
  margin-left: 7%;
  margin-right: 7%;
  line-height: 0%;
  padding-top: 50px;
}

.first_header_style {
  padding-top: 450px;
}

.first_text_style {
  max-width: 600px;

}

.second_header_style {
  float: right;
}

.second_text_style {
  max-width: 600px;
  float: right;
}

/* links */

.page_navigation_links {
  color: black;
  margin-right:7%;
  top: 20px;
  font-family: "Courier New";
  font-size: 1.6em;
  right: 0;
  position:absolute;

}

.social_media_links {
  padding-top: 50px;
  color: whitesmoke;
  text-align: center;
  font-family: "Courier New";
  font-size: .9em;
}

.temp_email_address{
  font-size: 1.5em;
}

.tm{

  z-index: 1;
  text-align: center;
  font-size: .5em;
  font-family: monospace;
  color: black;

  width: 100%;
  margin-bottom: 3px;
  margin-top: 20px;
  clear: both;
}




/*iphone 5/SE*/
/* @media only screen and (device-width : 320px) and (device-height : 568px) and (-webkit-device-pixel-ratio : 2) {} */

/*iphone x*/
/* @media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) {
  .body_style {
    width: 100%;
    background-color: white;
    overflow-x: hidden;
  }

  .h1_style {
    font-size: 12em;
    font-weight: normal;
    font-family: "Courier New";
    color: whitesmoke;
  }

  .h2_style {
    padding-top: 90px;
    line-height: 30%;
    font-family: "Courier New";
    font-size: 8em;
  }

  .p_style {
    margin-left: 17px;
    max-width: 10000px;
    font-size: 60px;
    font-family: Consolas, monaco, monospace;
  }

  .hr_style {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1.5px;
    color: whitesmoke;
  }

  .header_box{
    padding-top: 1px;
    padding-bottom: 1px;
    width: 84%;
    background: grey;
    background-clip: border-box;
  }

  .social_media_links{
    width: 98%;
    text-align: center;
    color: whitesmoke;
    bottom: 1000px;
    font-family: "Courier New";
    font-size: 2.7em;
    position: absolute;
  }
} */
/*iphone 6/7/8*/
/* @media only screen and (device-width : 375px) and (device-height : 667px) and (-webkit-device-pixel-ratio : 2) {} */

/*iphone 6/7/8plus*/
/* @media only screen and (device-width : 414px) and (device-height : 736px) and (-webkit-device-pixel-ratio : 3) {} */
