body {
  max-width: 700px;
  margin: 0 auto;
  background-color: white;
}

h1 {
  font-size: 2.5em;
  font-weight: normal;
  font-family: "Courier New";
  color: whitesmoke;
}

h2 {
  font-family: "Courier New";
}

p {
  font-size: 1em;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 0.5px;
  color: whitesmoke;
}

.box{
  padding: 80px;
  padding-bottom: 200px;
  background: lightslategrey;
  background-clip: border-box;
  width: 700px;
}
