/* For desktop: */

/************************/

/* link formating */

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  text-decoration: underline;
}

/* header */

.name_header {
  color: black;
  margin-left:7%;
  top: 20px;
  font-family: "Courier New";
  font-size: 2em;
  left: 0;
  position:absolute;
  font-weight: bold;
}

.page_navigation_links {
  color: black;
  margin-right:7%;
  top: 20px;
  font-family: "Courier New";
  font-size: 1.6em;
  right: 0;
  position:absolute;
}

.header_band {
  z-index: -1;
  position:absolute;
  top:125px;
  height: 320px;
  background: grey;
  background-clip: border-box;
  width: 100%;
  box-shadow: 1px 1px 1px white;
}

.title_style {
  font-size: 10em;
  font-weight: normal;
  font-family: "Courier New";
  color: whitesmoke;
  margin-left: 7%;
  margin-right: 7%;
  line-height: 0%;
  padding-top: 50px;
  -webkit-text-stroke: 2px;
}

/* main*/

body {
  z-index: 1;
  background-color: white;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}

h2 {
  z-index: 1;
  font-family: "Courier New";
  font-size: 3.5em;
  padding-bottom: 0px;
  color: black;
  line-height: 95%;
  margin-right: 11%;
  margin-left: 11%;
  clear: both;
}

p {
  z-index: 1;
  font-size: .84em;
  font-family: Consolas, monaco, monospace;
  line-height: 300%;
  color: black;
  margin-right: 12%;
  margin-left: 12%;
  clear: both;
}

/* specific styling */

.first_header_style {
  padding-top: 500px;
}

.first_header_style_home {
  padding-top: 450px;
  float: right;
}

.first_blog_post_style {
  padding-top: 500px;
  font-size: 2em;
}

.first_text_style {
  max-width: 600px;
}

.first_text_style_home {
  max-width: 600px;
  float: right;
  margin-right: 11.5%;
}

.right_header_style {
  float: right;
}

.right_text_style {
  max-width: 600px;
  float: right;
}

.left_header_style {
  padding-top: 50px;
}

.left_text_style {
  max-width: 600px;
}

.temp_email_address{
  font-size: 1.5em;
}

/* footer */

.footer_band {
  z-index: -1;
  width: 100%;
  height: 400px;
  background-clip: border-box;
  box-shadow: 1px 1px 1px white;
  background: black;
  margin-top: 200px;
  clear: both;

}

.social_media_links {
  padding-top: 50px;
  color: whitesmoke;
  text-align: center;
  font-family: "Courier New";
  font-size: .9em;
}

.tm{

  z-index: 1;
  text-align: center;
  font-size: .5em;
  font-family: monospace;
  color: black;
  width: 100%;
  margin-bottom: 3px;
  margin-top: 20px;
  clear: both;
}


/* tablet */
@media only screen and (min-width: 421px) and (max-width : 768px) {

}

/* phone */
@media only screen and (max-width : 420px) {

  /* header */

  .name_header {
    text-align: center;
    color: black;
    font-family: "Courier New";
    font-weight: bold;
    font-size: 2.8em;
  }

  .page_navigation_links {
    text-align: center;
    padding-top: 60px;
    /* color: black;
    margin-right:7%;
    font-family: "Courier New";
    font-size: 1.3em;
    padding-top: 43px;
    left: 6.3%;
    position:absolute; */
  }

  .header_band {
    z-index: -1;
    position:absolute;
    top:125px;
    height: 250px;
    background: grey;
    background-clip: border-box;
    width: 100%;
    box-shadow: 1px 1px 1px white;
  }

  .title_style {
    font-size: 4.7em;
    font-weight: normal;
    font-family: "Courier New";
    color: whitesmoke;
    margin-left: 6.3%;
    margin-right: 7%;
    line-height: 0%;
    padding-top: 57px;
    -webkit-text-stroke: 2px;
    float: left;
  }

  /* main */

  .first_header_style {
    padding-top: 450px;
    font-size: 2.5em;
  }

  .first_header_style_home {
    padding-top: 400px;
    font-size: 2.5em;
    float: left;
  }

  .first_blog_post_style {
    padding-top: 430px;
    font-size: 1.6em;
  }

  .right_header_style {
    float: right;
    font-size: 2.5em;
  }

  .left_header_style {
    padding-top: 50px;
    font-size: 2.5em;
  }

  .first_text_style_home {
    max-width: 600px;
    margin-right: 11.5%;
  }


  /* footer */

  .footer_band {
    z-index: -1;
    width: 100%;
    height: 300px;
    background-clip: border-box;
    box-shadow: 1px 1px 1px white;
    background: black;
    margin-top: 200px;
    clear: both;

  }

  .social_media_links {
    padding-top: 50px;
    color: whitesmoke;
    text-align: center;
    font-family: "Courier New";
    font-size: .85em;
  }

  .tm{

    z-index: 1;
    text-align: center;
    font-size: .5em;
    font-family: monospace;
    color: black;
    width: 100%;
    margin-bottom: 3px;
    margin-top: 20px;
    clear: both;
  }
}

.contact_form {
  text-align: center;
}

.contact_form_cells {
  height: 40px;
  border: 2px solid whitesmoke;
  box-shadow: none;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.5em;
  width: 22%;
  border-radius: 6px;
  font-family: monospace;
}

.contact_form_cells:hover {
  border-color: darkgrey;
}

.contact_message_cell {
  height: 200px;
  border: 2px solid whitesmoke;
  box-shadow: none;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.5em;
  width: 66.5%;
  border-radius: 6px;
  font-family: monospace;
}

.contact_message_cell:hover {
  border-color: darkgrey;
}

.send_button {
  font-size: 1.5em;
  border-radius: 10px;
  height: 65px;
  width: 66.5%;
  border: none;
  background: darkgrey;
  font-family: monospace;
  text-align: center;
  color: whitesmoke;
}

.send_button:hover{
  background-color: lightgrey;
  color: gray;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
    border-color: darkgrey;
}
