body {
  margin: 0 auto;
  background-color: white;
}

h1 {
  max-width: 800
  font-size: 2.5em;
  font-weight: normal;
  font-family: "Courier New";
  color: whitesmoke;
}

h2 {
  margin-left: 0;
  font-family: "Courier New";
}

p {
  margin-left: 43px;
  max-width: 600px;
  font-size: 13px;
  font-family: Consolas, monaco, monospace ;
}

hr {
  max-width: 800
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 0.5px;
  color: whitesmoke;
}

.box{
  padding: 80px;
  padding-bottom: 200px;
  background: lightslategrey;
  background-clip: border-box;
  width: 0 auto;
}
