body {
	background: black;
}

#app-title {
	font-family: monospace;
	text-align: center;
	color: #00ff00;
	font-size: 30px;
}

#enter-initials-text {
	height:60px;
	font-size:40px;
	width: 100px;
	background-color: black;
	border-color: #00ff00;
	color: #00ff00;
	font-family: monospace;
	text-align: center;
	margin-top: 30px;

}

input:focus, textarea:focus {
    outline: none;
}

button:focus {
    outline: none;
}

header ul {
  list-style-type: none;
	padding-bottom: 40px;
	padding-top: 20px;
}

header li {
  float:left ;
	padding-right: 10px;
	color: #00ff00;
	font-family: monospace;
	font-size: 20px;
}

#initials-submit {
	background: none;
	border: none;
	color: #00ff00;
	font-family: monospace;
	font-size: 20px;
}

header li:not(:last-child):after {
    content: " | ";
}

button:hover {
	color: #00e600;
}

button {
	padding-top: 10px;
	background: none;
	border: none;
	color: #00ff00;
	font-family: monospace;
	font-size: 20px;
}

.hidden {
	display: none;
}

#high-scores {
	margin-left: 200px;
}

#score {
  color: #00ff00;
  font-size: 30px;
  text-decoration: none;
	font-family: monospace;
	text-align: center;
	margin-bottom: 10px;
}

#your-score {
  color: #00ff00;
  font-size: 30px;
  text-decoration: none;
	font-family: monospace;
	text-align: center;
	margin-top: 100px;
}


#dodger {
  background-color: #00ff00;
  height: 20px;
  position: absolute;
  width: 60px;
}

#game {
  background-color: black;
	border-color: #00ff00;
	border-style: dashed;
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 400px;
}

#start {
  color: #00ff00;
  font-size: 4rem;
  position: relative;
  text-decoration: none;
  top: 4rem;
	font-family: monospace;

}

#leaderboard {
	color: #00ff00;
  font-size: 30px;
  text-decoration: none;
	font-family: monospace;
	margin-bottom: 15px;
	/* text-align: center; */
	margin-top: 50px;
	margin-left: 200px;
	text-decoration: underline;
}

.high-scores {
  color: #00ff00;
  font-size: 20px;
  text-decoration: none;
	font-family: monospace;
	margin-bottom: 10px;
}

.rock {
  width: 60px;
  height: 60px;
  background: #00ff00;
  position: absolute;
	border-radius: 30%;

}

.ball {
	color: #00ff00;
	background-color: #00ff00;
	height: 13px;
	width: 13px;
	border-radius: 50%;
	position: absolute;
}

#brick-paddle {
	color: #00ff00;
	background-color: #00ff00;
	height: 10px;
	width: 80px;
	position: absolute;
}

.brick {
	color: #00ff00;
	background-color: #00ff00;
	height: 10px;
	width: 60px;
	position: absolute;

}

#user-paddle {
	color: #00ff00;
	background-color: #00ff00;
	height: 80px;
	width: 10px;
	position: absolute;
}

#computer-paddle {
	color: #00ff00;
	background-color: #00ff00;
	height: 80px;
	width: 10px;
	position: absolute;
}
